.main-auth-container {
  background-color: #ececec;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 10rem;
}

.auth-wrapper {
  background-color: white;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
}

.auth-img-section,
.auth-form-section {
  flex-basis: 50%;
}

.auth-img-section {
  padding: 3rem 2rem;
  background-image:
    linear-gradient(
      to bottom,
      rgba(1, 18, 12, 0.8),
      rgb(4, 95, 63, 0.6),
      rgba(1, 18, 12, 0.8)
    ),
    url("../assets/litterly-login-bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-form-section {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
}

.small-logo-img-wrapper {
  width: 8rem;
}

.logo-auth-img {
  width: 100%;
}

.count-stats {
  display: flex;
  flex-direction: row;
}

.count-stat {
  flex-basis: 50%;
}

.quote-img-cont .quote {
  font-family: "Be Vietnam Pro", "sans-serif";
}

.quote-img-cont .subheadline {
  color: var(--accent-light-color);
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.8em;
}

.quote-img-cont .subheadline::before {
  position: relative;
  content: "";
  top: 0;
  left: 0;
  width: 2rem;
  height: 4px;
  border-radius: 1rem;
  background-color: var(--accent-light-color);
  display: inline-block;
}

.quote-img-cont {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.count-stat {
  border-top: 1px solid var(--accent-light-color);
  padding-top: 2rem;
}
.count-stat .number {
  font-weight: 900;
  font-size: 1.3em;

  color: var(--accent-light-color);
  font-family: "Be Vietnam Pro", "sans-serif";
}

.auth-form-title {
  color: var(--primary-color);
  font-weight: 900;
}

.login-form-title-cont {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 0.25rem;
}

.auth-form-cont {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.auth-form-cont .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-form-cont .input-group label {
  text-transform: uppercase;
  font-family: "Be Vietnam Pro", "sans-serif";
  color: var(--primary-color);
  font-weight: 600;
  font-size: 0.8em;
}

.auth-form-cont .input-group .input-wrapper input {
  /* background-color: red; */
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: var(--lighter-accent-light-color);
  padding: 1rem 1rem 1rem 3.25rem;
  width: 100%;
}

.btn {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: white;
  outline: 0;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
}

.input-wrapper {
  position: relative;
}

.input-wrapper .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--neutral-color);
  left: 1rem;
  font-size: 1.25rem;
  z-index: 10;
}

.text-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 1rem;
  color: var(--neutral-color);
  font-weight: 700;
  font-size: 0.8rem;
}

.text-divider::before,
.text-divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: var(--lighter-neutral-color);
}

.account-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.9em;
}

.account-section .internal-link {
  color: var(--link-color);
  font-weight: 600;
  text-decoration: underline;
}

.demo-auto-auth-btn-cont {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}

.demo-auto-auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--link-color);
  font-size: 0.9em;
  cursor: pointer;
}

.demo-auto-auth-btn.login {
  flex-basis: 50%;
}
.demo-auto-auth-btn.register {
  width: 100%;
}

.demo-auto-auth-btn.primary {
  background-color: var(--link-color);
  color: white;
}

.demo-auto-auth-btn.secondary {
  color: var(--link-color);
}
