/* mission-list styling */

:root{
--primary-color: #004532;
  --secondary-color: white;
  --accent-color: #7ba72a;
  --link-color: #006c4b;
  --accent-light-color: #64fcbe;
  --lighter-accent-light-color: #eff4ff;
  --neutral-color: #64748b;
  --lighter-neutral-color: #bec9c2;
}

.page-container,
.profile,
.profile-photo-wrapper,
.profile-details,
.sidebar-item,
.sidebar-item-icon,
.mission-list,
.sidebar
{
    display: flex;
}

.content-container{
    display: flex;
    width: 100%;
}

.sidebar{
    background-color: #004532;
    flex-basis: 20%;
    width: 20vw;
    height: 100%;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    overscroll-behavior: none;
    padding: 0 1rem;
}

.profile{
    gap: 1rem;
}

.profile-photo-wrapper{
    background-color: red;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    overflow: hidden;
}

.profile-photo{
    width: 100%;
}

.profile-details{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.wrapper-sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 0 1rem 0;
}

.wrapper-sidebar-items-and-logout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar-item{
    display: flex;
    background-color: green;
    padding: 1rem;
    gap: 0.5rem;
}

.sidebar-item-icon{
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
}


.sidebar-item-text{
    background-color: grey;
    display: flex;
    flex-basis: 90%;
    align-items: center;
}

.logout-section{
    display: flex;
}

.logo{
    width: 100%;
}

.logo-section{
    padding: 0 2rem;
}

.main-content-wrapper{
    flex: 1;
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filterbar-wrapper{
    background-color: green;
    display: flex;
}

.filter-text{
    background-color: orange;
    display: flex;
}

.filter-text.active{
    background-color: red;
}

.card-wrapper{
    display: flex;
}

.card-content-container{
    background-color: purple;
}

