/*8=============================================================D MAIN CONTENT HEADER */

.header-filter {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: end;
  /* background-color: green; */
}

.filterbar-wrapper {
  background-color: #eff4ff;
  /* background-color: #0051ff; */
  display: flex;
  justify-content: space-evenly;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
}

.filter-text {
  display: flex;
  padding: 0.5rem 2rem;
}

.filter-text.active {
  border-bottom: 3px solid var(--accent-color);
}

/*===========================================================================CARDS */
.cards-wrapper {
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

.card-wrapper {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.329);
}

.card-thumbnail {
  /* background-color: hotpink; */
  background-image: url(../assets/baca.jpg);
  background-size: cover;
  background-position: center;
  padding: 5rem 2rem;
}

.card-text-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
}

.cards-loading {
  /* background-color: red; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 4em;
}
