* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url("https://images.unsplash.com/photo-1773332611522-06b86b48cbf1?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    background-size: cover;
    /* fills screen */
    background-position: center;
    /* keeps it centered */
    background-repeat: no-repeat;
    /* no repeating */
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    width: 350px;
    padding: 35px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: white;
}

.register-box h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #d2a679;
}

.input-box {
    margin-bottom: 18px;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #f1f1f1;
}

.register-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #8b5e3c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.register-btn:hover {
    background: #a06b45;
}

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #d2a679;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

#border {
    text-align: center;
}